`   






 body {
            background: rgba(0, 0, 0, 0.5);
            background: url(bc.jpg);
             font-family: Arial;
              font-size: 10px;
               width : 100%;
        }
        .content {
   position: absolute;
  top: 0;
  left:0; 
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  /*transform: translateY(-34%);*/
  color: #f1f1f1;
  width: 100%;
  padding: 1px;
 
}
.footer {
     
       position: absolute;
  /*top: 0;*/
  bottom: 0;
  left:0; 
  text-align: center;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 1px;
 
}
.clear {
    clear: both;
}
/*.contentbody {
    /*width: 100%;
    background-color: rgb(254, 254, 254);
    border: 1px solid rgb(254, 254, 254);
    border-radius: 5px 5px 5px 5px;
  float: right;
    margin-top: 18px;
    margin-bottom: 8px;*/
    /*min-height: 200px;
}*/