
.option {
	width: 470px;
	display: inline-block;
	padding: 10px 0 10px 10px;
	vertical-align: middle;
    background: rgba(255, 255, 255, 0.5);
    margin: 10px 0 10px 10px;
    color: #000000;
    border-radius: 20px;
}
.option:hover
{
	background: #08038C;
	color: #f6f6f6;
}
.nextbtn{
	border: none;
	outline: none;
	background: red;
	width: 200px;
	height: 35px;
	border-radius: 20px;
	cursor: pointer;
	float: center;
	margin: 10px;
    /*top: 5000px;
	left: 500px;*/
}
.nextbtn:hover{
	background: green;
	color: #f6f6f6;
}
.option input:checked .option{
	background: #08038C;
	color: #000;
}
body{
	font-family: 'Roboto Slab', serif;
	background: #6cf;
}

.container{
	height: 330px;
	width: 1000px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	background: white;
	padding: 20px;
	border: 1px solid #08038C;
	box-shadow: 0 0 8px 3px #fff;
}
.title{
	padding-top: 0;
	text-align: center;
	font-size: 16px;
	text-transform: uppercase;
	color: #08038C;
}

.Question{
	padding: 3px;
	font-size: 20px;
	background: black;
	border-radius: 20px;
	margin: 10px 0 0 10px;
	color: white;
	width: 950px;
    height: 80px;
	
}

	